<h1>Create a new bookmark</h1>

<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%# <%= f.association :list %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Create a new bookmark", class: "btn btn-primary" %>
<% end %>
